:root {
  --LightThemeColor: @var-light;
  --van-blue: @var-light  !important;
  --van-dropdown-menu-option-active-color: @var-light  !important;
  --van-dropdown-menu-title-active-text-color: @var-light  !important;
  --pageBg: @var-bg;
  --van-tabs-bottom-bar-color: @var-light  !important;
  --van-nav-bar-o: rgb(236, 249, 255);
  --van-pagination-height: .56rem !important;
  --card-history: @var-his-card;
}

@var-light: #00758f;
@var-bg: var(--van-white);
@var-his-card: rgb(246, 250, 255);