:root {
  --LightThemeColor: @var-light;
  --van-dropdown-menu-option-active-color: @var-light  !important;
  --van-dropdown-menu-title-active-text-color: @var-light  !important;
  --van-primary-color: @var-light  !important;
  --pageBg: @var-bg;
  --van-tabbar-item-text-color: var(--van-white) !important;
  --van-tabbar-background-color: @var-bg-gray  !important;
  --van-background-color-light: @var-bg-gray  !important;
  --van-background-color: @var-bg-gray  !important;
  --van-text-color: var(--van-white) !important;
  --van-border-color: #424242 !important;
  --van-tabs-bottom-bar-color: @var-light  !important;
  --van-tab-text-color: #ccc !important;
  --van-overlay-background-color: rgba(122, 122, 122, 0.48) !important;
  --van-pagination-height: .56rem !important;
  --card-history: @var-his-card;
  --mainbg: @var-his-card;
  --mainCardBg: rgba(0, 0, 0, .71);
  --blockCardBg: rgba(16, 18, 27, 40%);
  --blockCardColor: #22eb8e;
  --btnFunctionBg: rgba(39, 41, 45, 0.897);
  // --van-nav-bar-o: #444441;
}

@var-light: #ffbb00;
@var-bg: #27292d;
@var-bg-gray: #23272a;
@var-his-card: #313334;