:root {
  --LightThemeColor: @var-light;
  --van-blue: @var-light  !important;
  --van-dropdown-menu-option-active-color: @var-light  !important;
  --van-dropdown-menu-title-active-text-color: @var-light  !important;
  --pageBg: @var-bg;
  --van-tabs-bottom-bar-color: @var-light  !important;
  --van-nav-bar-o: #ecf9ff;
  --van-pagination-height: .56rem !important;
  --card-history: @var-his-card;
  --mainbg: #f6f6f6; // 我的页面的背景颜色
  --mainCardBg: rgba(255, 255, 255, .723);
  --blockCardBg: rgba(255, 255, 255, .42);
  --blockCardColor: #080824;
  --btnFunctionBg: lighten(@var-bg, 90%);
}

// @var-light: #00758f;  // 深绿色
@var-light: #585ddd;  // 深紫色
// @var-light: #0a0a0a;  // 深黑色
@var-bg: #fff;
@var-his-card: #f6faff;